@font-face {
    font-family: 'Chirp Regular';
    src: url('./fonts/ChirpRegular.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    font-family: 'Chirp Regular', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Color default de Twitter 🐦️: background-color: #00acee; */
    background-image: url(./img/background.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
}

main {
    width: 600px;
    height: 1400px;
    overflow: hidden;
    border-left: 1px rgb(103, 102, 102) solid;
    border-right: 1px rgb(103, 102, 102) solid;
    position: relative;
}

#info-bar {
    display: flex;
    width: 599px;
    height: 60px;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    position: fixed;
    z-index: 3;
    border-right: 1px rgb(103, 102, 102) solid;
}

#info-bar button {
    font-family: 'Chirp Regular', sans-serif;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 40px;
    margin-left: 9px;
}

#info-bar button:hover {
    background-color: rgb(33, 32, 32);
}

#info-bar div {
    padding: 10px;
    margin-left: 10px;
    height: 100%;
}

#info-bar div p {
    font-weight: bold;
    font-size: 20px;
}

#info-bar div small {
    color: rgb(103, 102, 102);
}

#perfil-imgs {
    position: relative;
    height: 290px;
}

#perfil-imgs img:first-child {
    width: 602px;
}

#perfil-imgs img:nth-child(2) {
    width: 140px;
    border-radius: 100px;
    border: 3px solid black;
    position: absolute;
    top: 130px;
    left: 20px;
    z-index: 2;
}

#perfil-edit {
    position: absolute;
    left: 463px;
    top: 213px;
    z-index: 1;
}

#perfil-edit button {
    font-family: 'Chirp Regular', sans-serif;
    height: 36px;
    width: 117px;
    font-size: 15px;
    font-weight: bold;
    border: 1px rgb(103, 102, 102) solid;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

#perfil-edit button:hover {
    background-color: rgb(33, 32, 32);
}

#username {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

#username h1 {
    margin-left: 20px;
    font-size: 20px;
}

#username p {
    margin-left: 20px;
    font-size: 15px;
    color: rgb(103, 102, 102);
}

#user-info {
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

#user-info > p {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
}

#more-info {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    gap: 15px;
}

#more-info p {
    color: rgb(103, 102, 102); 
}

#following {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    gap: 17px;
}

#following p {
    color: rgb(103, 102, 102)
}

#following span {
    font-weight: bold;
}

#info {
    height: 470px;
    border-bottom: 1px rgb(103, 102, 102) solid;
    margin-top: 60px;
}